@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer">
	<div class="container-fluid">
		<div class="row text-muted">
			<div class="col-6 text-start">
				<p class="mb-0">
				<p>Address: 13 Trinh Van Bo, Xuan Phuong Ward, Nam Tu Liem District, Hanoi</p>
				</p>
			</div>
			<div class="col-6 text-end">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="text-muted" href="https://fap.fpi.edu.vn/NewPage/QAnswer.aspx" target="_blank">Support</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="https://fap.fpi.edu.vn/NewPage/QAnswer.aspx" target="_blank">Help Center</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="https://fap.fpi.edu.vn/NewPage/QAnswer.aspx" target="_blank">Privacy</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted" href="https://fap.fpi.edu.vn/NewPage/QAnswer.aspx" target="_blank">Terms</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>